<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>邮件通知</title>
	</head>
	<body>
		<h2>接收验证码</h2>
		<p>验证码：<span style="font-size: 20px;">{{code}}</span></p>
		<p style="font-size: 14px;">此验证码2分钟内有效</p>
	</body>
</html>