@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overscroll-behavior: none;
	/* find 样式关闭按钮样式 */
	.monaco-editor .find-widget > .button.codicon-widget-close {
		top: 8px;
	}
	/* find 样式 */
	.context-view,
	.monaco-component {
		display: none;
	}
}

#root {
	height: 100%;
	width: 100%;
	background-color: var(--background);
	font-family: var(--font-family);
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.13 0.028 261.692);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.21 0.034 264.665);
	--primary-foreground: oklch(0.985 0.002 247.839);
	--secondary: oklch(0.967 0.003 264.542);
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.967 0.003 264.542);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: 210 40% 98%;
	--border: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--radius: 0.625rem;
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.002 247.839);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
	--shadow-2: 0 0 2px rgba(0, 0, 0, 0.2);
	--shadow-4: 0 0 4px rgba(0, 0, 0, 0.2);
	--shadow-6: 0 0 6px rgba(0, 0, 0, 0.2);
	--shadow-8: 0 0 8px rgba(0, 0, 0, 0.2);
	--shadow-10: 0 0 10px rgba(0, 0, 0, 0.2);
	--font-family: "手札体-简";
	--theme-color: oklch(100% 0.00011 271.152);
	--theme-background: oklch(1 0 0);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.967 0.003 264.542);
	--theme-border: oklch(0.928 0.006 264.531);
	--theme-foreground: oklch(0.13 0.028 261.692);
	--theme-textcolor: oklch(100% 0.00011 271.152);
	--theme-default: oklch(0.15 0.02 264.665);
	--theme-secondary: oklch(0.967 0.003 264.542);
	--theme-sidebar: oklch(0.985 0.002 247.839);
	--theme-active-color: oklch(0% 0 0);
	--theme-from: oklch(0.1592 0.0133 272.86);
	--theme-via: oklch(0.2178 0 0);
	--theme-to: oklch(0.4202 0 0);
	--theme-text-from: oklch(100% 0.00011 271.152);
	--theme-text-to: oklch(100% 0.00011 271.152);
}

.dark {
	--background: oklch(0.13 0.028 261.692);
	--foreground: oklch(0.985 0.002 247.839);
	--card: oklch(0.21 0.034 264.665);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: oklch(0.21 0.034 264.665);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: oklch(0.928 0.006 264.531);
	--primary-foreground: oklch(0.21 0.034 264.665);
	--secondary: oklch(0.278 0.033 256.848);
	--secondary-foreground: oklch(0.985 0.002 247.839);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--destructive: oklch(0.704 0.191 22.216);
	--destructive-foreground: 210 40% 98%;
	--border: oklch(1 0 0 / 10%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.034 264.665);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.278 0.033 256.848);
	--sidebar-accent-foreground: oklch(0.985 0.002 247.839);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
	--shadow-2: 0 0 2px rgba(255, 255, 255, 0.5);
	--shadow-4: 0 0 4px rgba(255, 255, 255, 0.5);
	--shadow-6: 0 0 6px rgba(255, 255, 255, 0.5);
	--shadow-8: 0 0 8px rgba(255, 255, 255, 0.5);
	--shadow-10: 0 0 10px rgba(255, 255, 255, 0.5);
	--theme-color: oklch(0.928 0.006 264.531);
	--theme-background: oklch(0.13 0.028 261.692);
	--theme-card: oklch(0.21 0.034 264.665);
	--theme-muted: oklch(0.278 0.033 256.848);
	--theme-border: oklch(1 0 0 / 10%);
	--theme-textcolor: oklch(0.15 0.02 264.665);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.985 0.002 247.839);
	--theme-secondary: oklch(0.278 0.033 256.848);
	--theme-sidebar: oklch(0.21 0.034 264.665);
	--theme-active-color: oklch(0% 0 0);
	--theme-from: oklch(0.1592 0.0133 272.86);
	--theme-via: oklch(0.2178 0 0);
	--theme-to: oklch(0.4202 0 0);
	--theme-text-from: oklch(100% 0.00011 271.152);
	--theme-text-to: oklch(100% 0.00011 271.152);
}

.theme-white {
	--theme-color: oklch(0.15 0.02 264.665);
	--theme-background: oklch(1 0 0);
	--theme-secondary: oklch(0.95 0.00845 271.331);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.98 0.005 264.665);
	--theme-border: oklch(0.95 0.00845 271.331);
	--theme-foreground: oklch(0.15 0.02 264.665);
	--theme-textcolor: oklch(0.15 0.02 264.665);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-sidebar: oklch(0.98 0.005 264.665);
	--theme-active-color: oklch(0% 0 0);
	--theme-from: oklch(0.1592 0.0133 272.86);
	--theme-via: oklch(0.2178 0 0);
	--theme-to: oklch(0.4202 0 0);
	--theme-text-from: oklch(100% 0.00011 271.152);
	--theme-text-to: oklch(100% 0.00011 271.152);
}

.theme-black {
	--theme-color: oklch(100% 0.00011 271.152);
	--theme-background: oklch(0.1592 0.0133 272.86);
	--theme-card: oklch(0.12 0.01 264.665);
	--theme-muted: oklch(0.18 0.015 264.665);
	--theme-border: oklch(24.372% 0.0059 271.178);
	--theme-textcolor: oklch(100% 0.00011 271.152);
	--theme-default: oklch(0.08 0.01 264.665);
	--theme-foreground: oklch(46.76% 0.00005 271.152);
	--theme-secondary: oklch(20.105% 0.00397 285.961);
	--theme-sidebar: oklch(0.12 0.01 264.665);
	--theme-active-color: oklch(0% 0 0);
	--theme-from: oklch(0.1592 0.0133 272.86);
	--theme-via: oklch(0.2178 0 0);
	--theme-to: oklch(0.4202 0 0);
	--theme-text-from: oklch(100% 0.00011 271.152);
	--theme-text-to: oklch(100% 0.00011 271.152);
	--theme-light: oklch(93.034% 0.12974 97.974 / 0.06);
}

.theme-purple {
	--theme-color: oklch(0.55 0.12 293.83);
	--theme-background: oklch(0.99 0.005 293.83);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.96 0.01 293.83);
	--theme-border: oklch(0.9 0.02 293.83);
	--theme-textcolor: oklch(0.25 0.03 152.83);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.25 0.03 293.83);
	--theme-secondary: oklch(0.92 0.02 293.83);
	--theme-sidebar: oklch(0.97 0.01 293.83);
}

.theme-blue-1 {
	--theme-color: oklch(0.55 0.12 261.83);
	--theme-background: oklch(0.99 0.005 261.83);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.96 0.01 261.83);
	--theme-border: oklch(0.9 0.02 261.83);
	--theme-textcolor: oklch(0.25 0.03 152.83);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.25 0.03 261.83);
	--theme-secondary: oklch(0.92 0.02 261.83);
	--theme-sidebar: oklch(0.97 0.01 261.83);
}

.theme-blue-2 {
	--theme-color: oklch(59.015% 0.18409 269.469);
	--theme-background: oklch(0.99 0.005 248.83);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.96 0.01 248.83);
	--theme-border: oklch(0.9 0.02 248.83);
	--theme-textcolor: oklch(0.25 0.03 248.83);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.25 0.03 248.83);
	--theme-secondary: oklch(0.92 0.02 248.83);
	--theme-sidebar: oklch(0.97 0.01 248.83);
}

.theme-blue-3 {
	--theme-color: oklch(0.55 0.12 225.83);
	--theme-background: oklch(0.99 0.005 225.83);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.96 0.01 225.83);
	--theme-border: oklch(0.9 0.02 225.83);
	--theme-textcolor: oklch(0.25 0.03 152.83);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.25 0.03 225.83);
	--theme-secondary: oklch(0.92 0.02 225.83);
	--theme-sidebar: oklch(0.97 0.01 225.83);
}

.theme-green {
	--theme-color: oklch(51.289% 0.15865 139.724);
	--theme-background: oklch(94.916% 0.03977 137.32);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(93.807% 0.01765 148.388);
	--theme-border: oklch(80% 0.07207 140.019);
	--theme-textcolor: oklch(0.25 0.03 152.83);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.9 0.02 152.83);
	--theme-secondary: oklch(89.324% 0.06179 137.167);
	--theme-sidebar: oklch(0.97 0.01 152.83);
	--theme-active-color: oklch(0.55 0.12 152.83);
	--theme-from: oklch(58.301% 0.18911 140.373);
	--theme-via: oklch(60.441% 0.19073 140.57);
	--theme-to: oklch(0.8535 0.132 118.69);
	--theme-text-from: oklch(19.9% 0.02356 154.589);
	--theme-text-to: oklch(0.25 0.03 152.83);
}

.theme-orange {
	--theme-color: oklch(0.81287 0.15333 71.151);
	--theme-background: oklch(0.99 0.02708 83.52);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.96 0.01 70.83);
	--theme-border: oklch(0.95 0.03 99.955);
	--theme-textcolor: oklch(0.25 0.03 152.83);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.3 0.03 70.83);
	--theme-secondary: oklch(94.19% 0.0256 94.764);
	--theme-sidebar: oklch(97.599% 0.0122 91.527);
}

.theme-red {
	--theme-color: oklch(0.55 0.12 10.83);
	--theme-background: oklch(0.99 0.005 10.83);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.96 0.01 10.83);
	--theme-border: oklch(0.9 0.02 10.83);
	--theme-textcolor: oklch(0.25 0.03 152.83);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.25 0.03 10.83);
	--theme-secondary: oklch(0.92 0.02 10.83);
	--theme-sidebar: oklch(0.97 0.01 10.83);
}

.theme-beige {
	--theme-color: oklch(0.55 0.06 80.83);
	--theme-background: oklch(0.99 0.005 80.83);
	--theme-card: oklch(1 0 0);
	--theme-muted: oklch(0.96 0.01 80.83);
	--theme-border: oklch(0.85 0.015 80.83);
	--theme-textcolor: oklch(0.25 0.03 152.83);
	--theme-default: oklch(100% 0.00011 271.152);
	--theme-foreground: oklch(0.3 0.02 80.83);
	--theme-secondary: oklch(0.92 0.01 80.83);
	--theme-sidebar: oklch(0.97 0.005 80.83);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-theme: var(--theme-color);
	--color-theme-background: var(--theme-background);
	--color-theme-card: var(--theme-card);
	--color-theme-muted: var(--theme-muted);
	--color-theme-border: var(--theme-border);
	--color-textcolor: var(--theme-textcolor);
	--color-default: var(--theme-default);
	--color-theme-foreground: var(--theme-foreground);
	--color-theme-secondary: var(--theme-secondary);
	--color-theme-sidebar: var(--theme-sidebar);
	--color-theme-active-color: var(--theme-active-color);
	--color-theme-from: var(--theme-from);
	--color-theme-via: var(--theme-via);
	--color-theme-to: var(--theme-to);
	--color-theme-text-from: var(--theme-text-from);
	--color-theme-text-to: var(--theme-text-to);
	--color-theme-light: var(--theme-light);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-textcolor;
	}
}
